<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Question 89</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>89. Công ước về QTE có 4 nguyên tắc. Đúng hay sai?</string>
		<string> Công ước về QTE có 4 nguyên tắc:

 - Không phân biệt đối xử (Điều 2)
- Vì lợi ích tốt nhất của trẻ (Điều 3)

- Được sống và phát triển (Điều 6)

- Tôn trọng ý kiến của trẻ em (Điều 12)</string>
	</array>
	<key>Question 88</key>
	<array>
		<string>4</string>
		<string>5</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>Công ước về QTE có bao nhiêu nguyên tắc?</string>
		<string>Công ước về QTE có 4 nguyên tắc:: - Không phân biệt đối xử
- Vì lợi ích tốt nhất của trẻ
- Được sống và phát triển
- Tôn trọng ý kiến của trẻ</string>
	</array>
	<key>Question 87</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>87. Trong quá trình xây nhà, vợ chồng anh Vảng có một số điều không thống nhất được với nhau, nên dẫn đến xung đột. Khi Tùng - con trai anh Vảng năm nay đã 14 tuổi - có ý kiến khuyên can bố mẹ, anh Vảng đã không nghe mà còn quát mắng Tùng là: &quot;Trẻ con biết gì chuyện người lớn mà tham gia&quot;. Theo bạn, anh Vảng xử sự như vậy là đúng hay sai?</string>
		<string>Anh Vảng xử sự như vậy là sai, vì Khoản 1, Điều 12 Công ước về QTE quy định: “...trẻ em có đủ khả năng hình thành quan điểm riêng của mình, được quyền tự do bày tỏ những quan điểm đó về tất cả mọi vấn đề có tác động đến trẻ em, những quan điểm của trẻ em phải được coi trọng một cách thích đáng phù hợp với độ tuổi và độ trưởng thành của trẻ em”.</string>
	</array>
	<key>Question 86</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>86. Hùng là người Kinh nhưng chơi rất thân với một nhóm bạn người dân tộc ông, trong đó có bạn Páo nổi tiếng nghịch phá nhất vùng. Bố mẹ lo sợ Hùng bị ảnh hưởng nên ngăn cấm không cho Hùng chơi với Páo. Việc làm của bố mẹ Hùng là đúng hay sai?</string>
		<string>Theo quy định tại Khoản 1 và Khoản 2, Điều 15 Công ước về QTE thì trẻ em được tự do kết giao với tất cả bạn bè khác giới hoặc khác dân tộc mình và việc thực hiện các quyền này chỉ bị hạn chế trong trường hợp để phục vụ lợi ích quốc gia, an ninh công cộng, trật tự xã hội, y tế, đạo đức của cộng đồng, hoặc để bảo vệ những quyền và tự do cơ bản của người khác.</string>
	</array>
	<key>Question 85</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>85. Sen và Hoa là bạn học cùng lớp. Sen muốn đến nhà Hoa để cùng nhau học tập và vui chơi nhưng mẹ bạn Sen không cho vì sợ Hoa học yếu và ảnh hưởng đến kết quả học tập của Sen. Việc làm của mẹ bạn Sen là đúng hay sai?</string>
		<string>Việc làm của mẹ bạn Sen là sai vì Khoản 1, Điều 15 Công ước về QTE đã quy định: “Trẻ em được tự do kết giao và hội họp hoà bình”. Mặt khác, Khoản 1, Điều 21 Luật BVCS&amp;GDTE của Việt Nam cũng quy định một trong những bổn phận của trẻ em là phải đoàn kết với bạn bè, giúp đỡ người gặp hoàn cảnh khó khăn theo khả năng của mình.</string>
	</array>
	<key>Question 84</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>84. Trẻ em có quyền gặp gỡ, giao lưu với bạn bè, hòa nhập và thiết lập mối quan hệ với mọi người ở cộng đồng, làng/bản và trong nhà trường nếu điều này không ảnh hưởng đến quyền của người khác. Đúng hay sai?</string>
		<string>Theo Điều 15 Công ước về QTE thì các quốc gia thành viên “thừa nhận các quyền của trẻ em được tự do kết giao và hội họp hoà bình” và “không được đặt ra bất kỳ một hạn chế nào đối với việc thực hiện các quyền này, ngoài những điều đã đề ra phù hợp với luật pháp và cần thiết trong một xã hội dân chủ, vì lợi ích của an ninh quốc gia, an ninh công cộng, trật tự xã hội, y tế, đạo đức của cộng đồng, hoặc để bảo vệ các quyền và tự do cơ bản của người khác”.</string>
	</array>
	<key>Question 83</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>83. Học sinh có quyền tham gia viết bài đăng báo về gương người tốt việc tốt cũng như phê phán những người có việc làm chưa tốt trong trường học và trong cộng đồng. Đúng hay sai?</string>
		<string>Khoản 1, Điều 13 Công ước về QTE quy định: “Trẻ em có quyền tự do bày tỏ ý kiến; quyền này bao gồm tự do tìm kiếm, tiếp nhận và phổ biến tất cả các loại thông tin và tư tưởng ở mọi lĩnh vực, bằng lời nói, văn bản viết tay hoặc bản in, dưới hình thức nghệ thuật hay bất kỳ phương tiện truyền thông nào khác mà trẻ em lựa chọn”.</string>
	</array>
	<key>Question 74</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>74. Nhà nước có thể có những hạn chế về quyền tự do thực hành tôn giáo và tín ngưỡng. Đúng hay sai?</string>
		<string>Khoản 3, Điều 14 Công ước về QTE quy định: “Quyền tự do biểu thị tôn giáo hoặc tín ngưỡng chỉ có thể chịu những hạn chế do pháp luật đề ra và là cần thiết để bảo vệ an toàn công cộng, trật tự xã hội, y tế hay đạo đức hoặc những quyền và tự do cơ bản của người khác”.</string>
	</array>
	<key>Question 72</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>72. Trẻ em có quyền được sử dụng tư liệu ở thư viện hoặc sách, báo, internet,... để tăng cường hiểu biết của mình. Đúng hay sai?</string>
		<string>Điều 17, Công ước về QTE quy định: “Các quốc gia thành viên phải bảo đảm rằng trẻ em được tiếp nhận thông tin và tư liệu từ nhiều nguồn quốc gia và quốc tế khác nhau, đặc biệt là những thông tin, tư liệu nhằm mục đích thúc đẩy lợi ích xã hội, tinh thần và đạo đức cũng như sức khỏe về thể chất và tinh thần của trẻ em”.</string>
	</array>
	<key>Question 71</key>
	<array>
		<string>2</string>
		<string>Mầm non</string>
		<string>Tiểu học</string>
		<string>Trung học cơ sở</string>
		<string>A, B, C đều đúng</string>
		<string>71. Công ước về QTE quy định trẻ em ở bậc học nào được miễn phí khi đi học?</string>
		<string>Điểm a, Khoản 1, Điều 28 Công ước về QTE quy định: “Thực hiện chính sách giáo dục tiểu học bắt buộc, sẵn có và miễn phí cho tất cả mọi người”.</string>
	</array>
	<key>Question 70</key>
	<array>
		<string>3</string>
		<string>Phát triển nhân cách, tài năng và khả năng về trí tuệ</string>
		<string>Phát triển tối đa nhân cách, tài năng và khả năng về thể chất</string>
		<string>Phát triển tối đa nhân cách, tài năng, các khả năng về trí tuệ và thể chất</string>
		<string>Phát triển các tài năng, khả năng về trí tuệ và thể chất</string>
		<string>70. Việc giáo dục trẻ em phải hướng tới mục tiêu nào?</string>
		<string>Theo quy định tại Điểm a, Khoản 1, Điều 29 Công ước về QTE, một trong những mục tiêu mà việc giáo dục trẻ em phải hướng tới là phát triển tối đa nhân cách, tài năng, các khả năng về trí tuệ và thể chất của trẻ em.</string>
	</array>
	<key>Question 66</key>
	<array>
		<string></string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>66. Trẻ em khi vi phạm pháp luật ở mức độ đặc biệt nghiêm trọng sẽ bị xử tù chung thân mà không có khả năng phóng thích hoặc bị tử hình. Đúng hay sai?</string>
		<string>Điểm a, Điều 37 Công ước về QTE quy định: “Không trẻ em nào phải chịu sự tra tấn, bị đối xử và trừng phạt tàn ác, vô nhân đạo hay làm mất phẩm giá. Những người dưới 18 tuổi nếu gây ra những hành động phạm pháp sẽ không bị áp dụng hình phạt tử hình hoặc tù chung thân mà không có khả năng được phóng thích”.

</string>
	</array>
	<key>Question 60</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>60. Khi đến trường, những trẻ em là người dân tộc thiểu số chỉ được sử dụng ngôn ngữ phổ thông chứ không được sử dụng tiếng nói của dân tộc mình. Đúng hay sai?</string>
		<string>Theo Điều 30 Công ước về QTE, trẻ em thuộc một nhóm thiểu số hoặc trẻ em bản địa sẽ không bị khước từ quyền được hưởng nền văn hóa của mình, được bày tỏ, thực hành tôn giáo của mình và sử dụng ngôn ngữ của mình khi sinh hoạt trong cộng đồng với các thành viên khác của nhóm.
</string>
	</array>
	<key>Question 59</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>59. Sau khi hoàn thành chương trình rèn luyện ở trường giáo dưỡng dành cho người chưa thành viên vi phạm pháp luật, Dũng đã được trở về với gia đình và tiếp tục theo học lớp 9. Nhưng Dũng thường xuyên bị các bậc phụ huynh công kích. Họ răn đe con mình không được chơi với Dũng. Những việc làm của các phụ huynh đó là đúng hay sai?</string>
		<string>Khoản 1 và Khoản 2, Điều 16 của Công ước LHQ về QTE quy định: “Không trẻ em nào phải chịu sự can thiệp tùy tiện hay bất hợp pháp vào việc riêng tư, gia đình, nhà cửa hoặc thư tín cũng như những sự công kích bất hợp pháp vào danh dự và thanh danh của các em” và “Trẻ em có quyền được pháp luật bảo vệ chống lại sự can thiệp và công kích như vậy”.</string>
	</array>
	<key>Question 58</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>58. Trẻ em dân tộc thiểu số có quyền được hưởng nền văn hóa, giữ gìn bản sắc văn hóa dân tộc, theo tôn giáo và sử dụng ngôn ngữ riêng của cộng đồng mình. Đúng hay sai?</string>
		<string>Điều 30 Công ước về QTE quy định: “Ở những quốc gia có tồn tại những nhóm thiểu số về chủng tộc, tôn giáo hay ngôn ngữ hoặc có những người gốc bản địa, hoặc là người bản địa, những trẻ em thuộc một nhóm thiểu số như thế hoặc là người bản địa, sẽ không bị khước từ quyền được hưởng nền văn hóa của mình, được bày tỏ, thực hành tôn giáo của mình và sử dụng ngôn ngữ của mình khi sinh hoạt trong cộng đồng với các thành viên khác của nhóm”.</string>
	</array>
	<key>Question 57</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>57. Trẻ em có quyền bảo vệ, giữ gìn và phát huy bản sắc văn hóa của dân tộc mình. Đúng hay sai?
</string>
		<string>Điều 8 Công ước về QTE quy định: “Các quốc gia thành viên cam kết tôn trọng quyền của trẻ em được giữ gìn bản sắc của mình, kể cả quốc tịch, họ tên và các quan hệ gia đình được pháp luật thừa nhận, không có sự can thiệp phi pháp”.</string>
	</array>
	<key>Question 8</key>
	<array>
		<string>3</string>
		<string>02/9/1988</string>
		<string>20/11/1988</string>
		<string>20/11/1989</string>
		<string>02/9/1989</string>
		<string>8. Công ước về QTE được Đại hội đồng LHQ thông qua vào ngày, tháng, năm nào?</string>
		<string></string>
	</array>
	<key>Question 9</key>
	<array>
		<string>1</string>
		<string>02/9/1990</string>
		<string>02/9/1991</string>
		<string>09/02/1991</string>
		<string>09/02/1990</string>
		<string>9. Công ước về QTE có hiệu lực từ ngày, tháng, năm nào? </string>
		<string></string>
	</array>
	<key>Question 10</key>
	<array>
		<string>2</string>
		<string>20/02/1991</string>
		<string>20/02/1990</string>
		<string>02/9/1990</string>
		<string>10/11/1990</string>
		<string>10. Việt Nam phê chuẩn Công ước về QTE vào ngày, tháng, năm nào?</string>
		<string></string>
	</array>
	<key>Question 11</key>
	<array>
		<string>1</string>
		<string>Việt Nam</string>
		<string>Lào</string>
		<string>Trung Quốc</string>
		<string>Thái Lan</string>
		<string>11. Quốc gia nào là quốc gia đầu tiên ở Châu Á phê chuẩn Công ước về QTE?</string>
		<string></string>
	</array>
	<key>Question 12</key>
	<array>
		<string>1</string>
		<string>1979</string>
		<string>1989</string>
		<string>1990</string>
		<string>1992</string>
		<string>12. LHQ chọn năm nào là năm Quốc tế thiếu nhi? </string>
		<string></string>
	</array>
	<key>Question 13</key>
	<array>
		<string>4</string>
		<string>Dưới 15 tuổi</string>
		<string>Dưới 16 tuổi</string>
		<string>Dưới 17 tuổi</string>
		<string>Dưới 18 tuổi </string>
		<string>13. Theo Công ước của LHQ về QTE, trẻ em là những người bao nhiêu tuổi? </string>
		<string>Điều 1 Công ước LHQ về QTE quy định: “Trong phạm vi của Công ước này, trẻ em là những người dưới 18 tuổi, trừ trường hợp luật pháp áp dụng với trẻ em đó quy định tuổi thành niên sớm hơn”.</string>
	</array>
	<key>Question 15</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>15. Công ước về QTE được LHQ thông qua ngày 02/9/1990. Đúng hay sai?</string>
		<string>Ngày 20/11/1989 là ngày Công ước về QTE được thông qua. Còn ngày 02/9/1990 là ngày Công ước về QTE có hiệu lực. </string>
	</array>
	<key>Question 16</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>16. Việt Nam là nước thứ ba trên thế giới phê chuẩn Công ước về QTE.</string>
		<string>Việt Nam là nước thứ hai trên thế giới (và là nước đầu tiên ở Châu Á) phê chuẩn Công ước về QTE.</string>
	</array>
	<key>Question 17</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>17. Theo Công ước của LHQ về QTE, trẻ em là những người dưới 18 tuổi.</string>
		<string>Điều 1 Công ước LHQ về QTE quy định “Trẻ em là người dưới 18 tuổi, trừ trường hợp luật pháp áp dụng với trẻ em đó quy định tuổi thành niên sớm hơn”.</string>
	</array>
	<key>Question 18</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>18. Công ước về QTE quy định trẻ em là những người dưới 16 tuổi. Đúng hay sai?</string>
		<string>Điều 1 Công ước LHQ về QTE quy định: “Trẻ em là người dưới 18 tuổi, trừ trường hợp luật pháp áp dụng với trẻ em đó quy định tuổi thành niên sớm hơn”.</string>
	</array>
	<key>Question 19</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>19. Độ tuổi trẻ em theo quy định của pháp luật Việt Nam giống như độ tuổi trẻ em quy định trong Công ước về QTE.</string>
		<string>Điều 1 Luật BVCS&amp;GDTE quy định: “Trẻ em quy định trong Luật này là công dân Việt Nam dưới 16 tuổi”. Như vậy, pháp luật Việt Nam quy định độ tuổi trẻ em nhỏ hơn độ tuổi trẻ em quy định trong Công ước về QTE.</string>
	</array>
	<key>Question 20</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>20. Bạn Mạnh Hùng 15 tuổi. Bạn ấy nói rằng bạn là người lớn. </string>
		<string>Điều 1 Luật BVCS&amp;GDTE quy định: “Trẻ em là công dân Việt Nam dưới 16 tuổi”. Bạn Hùng mới 15 tuổi thì vẫn còn là trẻ em, chưa phải là người lớn.</string>
	</array>
	<key>Question 26</key>
	<array>
		<string>3</string>
		<string>2 nhóm  </string>
		<string>3 nhóm  </string>
		<string>4 nhóm  </string>
		<string>5 nhóm  </string>
		<string>26. Trong Công ước về QTE, các quyền của trẻ em được chia thành mấy nhóm ? </string>
		<string>Trong Công ước về QTE, các quyền của trẻ em được chia thành 4 nhóm quyền, đó là:
- Nhóm quyền được sống còn
- Nhóm quyền được bảo vệ
- Nhóm quyền được phát triển
- Nhóm quyền được tham gia
</string>
	</array>
	<key>Question 29</key>
	<array>
		<string>4</string>
		<string>Quyền được học tập</string>
		<string>Quyền được tự do kết bạn</string>
		<string>Quyền tham gia vào các câu lạc bộ</string>
		<string>Quyền được khai sinh, có họ tên và quốc tịch</string>
		<string>29. Quyền nào sau đây thuộc nhóm quyền được sống còn?</string>
		<string>Khoản 1, Điều 7 Công ước về QTE quy định: “Trẻ em phải được đăng ký ngay lập tức sau sinh ra và phải có quyền có họ tên, quyền có quốc tịch và trong chừng mực có thể, quyền biết cha, mẹ của mình và được cha mẹ mình chăm sóc sau khi ra đời”.</string>
	</array>
	<key>Question 30</key>
	<array>
		<string>4</string>
		<string>Quyền được bày tỏ ý kiến</string>
		<string>Quyền tham gia các hoạt động văn hóa</string>
		<string>Quyền được vui chơi giải trí</string>
		<string>Quyền được khai sinh, có họ tên và quốc tịch</string>
		<string>30. Trẻ em mới sinh ra phải được đảm bảo những quyền gì?</string>
		<string>Khoản 1, Điều 7 Công ước về QTE quy định: “Trẻ em phải được đăng ký ngay lập tức sau khi sinh ra và có quyền có họ tên, có quốc tịch và trong chừng mực có thể, quyền biết cha mẹ của mình và được cha mẹ mình chăm sóc sau khi ra đời”.</string>
	</array>
	<key>Question 32</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>32. Tất cả trẻ em đều có quyền được sống và phát triển. Đúng hay sai?</string>
		<string>Điều 6 Công ước LHQ về QTE quy định:
- Khoản 1: “Tất cả trẻ em đều có quyền cố hữu được sống”
- Khoản 2: “Các quốc gia thành viên phải bảo đảm đến mức tối đa có thể được sự sống còn và phát triển của trẻ em”.</string>
	</array>
	<key>Question 34</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>34. Mọi trẻ em sinh ra được Nhà nước bảo đảm quyền được hưởng an sinh xã hội. Đúng hay sai?</string>
		<string>Khoản 1, Điều 26 Công ước về QTE quy định: “Các quốc gia thành viên công nhận là tất cả trẻ em đều được quyền hưởng an sinh xã hội, bao gồm cả bảo hiểm xã hội, và phải thi hành những biện pháp cần thiết để thực hiện đầy đủ quyền đó phù hợp với pháp luật quốc gia của mình”.</string>
	</array>
	<key>Question 37</key>
	<array>
		<string>4</string>
		<string>Quyền được chăm sóc và nuôi dưỡng</string>
		<string>Quyền được giữ gìn bản sắc dân tộc</string>
		<string>Quyền được bày tỏ ý kiến</string>
		<string>Quyền không bị xâm phạm thân thể, đánh đập</string>
		<string>37. Quyền nào sau đây thuộc nhóm quyền được bảo vệ ?</string>
		<string>Khoản 1, Điều 1 Công ước về QTE quy định: “Các quốc gia thành viên phải thực hiện mọi biện pháp lập pháp, hành chính, xã hội và giáo dục thích hợp để bảo vệ trẻ em khỏi mọi hình thức bạo lực về thể xác hoặc tinh thần”.</string>
	</array>
	<key>Question 40</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>40. Khi bố mẹ ly dị hoặc ly tán, trẻ em có quyền gặp gỡ, tiếp xúc đều đặn với cả hai. Đúng hay sai?</string>
		<string>Khoản 3, Điều Công ước về QTE quy định: “Các quốc gia thành viên phải tôn trọng quyền của trẻ em bị sống cách ly khỏi cha mẹ, hoặc cả cha lẫn mẹ, được duy trì những quan hệ riêng tư và được tiếp xúc trực tiếp với cả cha và mẹ một cách đều đặn, trừ khi những việc này trái với lợi ích tốt nhất của trẻ em”.</string>
	</array>
	<key>Question 41</key>
	<array>
		<string>4</string>
		<string>Bị phân biệt đối xử</string>
		<string>Bị xâm hại và ngược đãi</string>
		<string>Bị lạm dụng và bóc lột</string>
		<string>Cả 3 đáp án trên</string>
		<string>41. Nếu không được bảo vệ, trẻ em có thể rơi vào những nguy cơ nào?</string>
		<string>Do trẻ em còn non nớt về thể chất, trí tuệ, tinh thần, nhân cách và sự trải nghiệm cuộc sống nên cần được bảo vệ và chăm sóc đặc biệt. Bất cứ lúc nào trẻ em cũng có thể bị rơi vào tình trạng nguy hiểm. Do đó, mọi trẻ em cần được bảo vệ đặc biệt, không bị phân biệt đối xử, không bị xâm phạm và ngược đãi cũng như không bị lạm dụng và bóc lột bởi bất cứ lý do gì.</string>
	</array>
	<key>Question 42</key>
	<array>
		<string>4</string>
		<string>Bị bỏ rơi, xao nhãng</string>
		<string>Bị lạm dụng và bóc lột</string>
		<string>Bị xâm hại tình dục</string>
		<string>Cả 3 trên
Cả 3 trên
Cả 3 trên
</string>
		<string>42. Trẻ em cần được bảo vệ trong trường hợp nào sau đây?</string>
		<string>Khoản 1, Điều 1 Công ước về QTE quy định: “Các quốc gia thành viên phải thực hiện mọi biện pháp lập pháp, hành chính, xã hội và giáo dục thích hợp để bảo vệ trẻ em khỏi mọi hình thức bạo lực về thể chất hoặc tinh thần, bị tổn thương hay lạm dụng, bị bỏ mặc hoặc xao nhãng chăm sóc, bị ngược đói hoặc bóc lột, kể cả sự xâm hại tình dục, trong khi trẻ em vẫn nằm trong vòng chăm sóc của cha hay mẹ hoặc cả cha lẫn mẹ, một hay nhiều người giám hộ pháp lý, hoặc của bất kỳ người nào khác được giao việc chăm sóc trẻ em”.</string>
	</array>
	<key>Question 43</key>
	<array>
		<string>3</string>
		<string>Được mọi người quan tâm</string>
		<string>Được gia đình chăm sóc</string>
		<string>Bị tổn thương, ngược đãi và bóc lột</string>
		<string>Tham gia vào các hoạt động xã hội</string>
		<string>43. Trẻ em cần được bảo vệ trong trường hợp nào sau đây?</string>
		<string>Khoản 1, Điều 1 Công ước về QTE quy định: “Các quốc gia thành viên phải thực hiện mọi biện pháp lập pháp, hành chính, xã hội và giáo dục thích hợp để bảo vệ trẻ em khỏi mọi hình thức bạo lực về thể xác hoặc tinh thần, bị tổn thương hay lạm dụng, bị bỏ mặc hoặc sao nhãng trong việc chăm sóc, ngược đãi hoặc bóc lột, kể cả sự xâm hại về tình dục...”.</string>
	</array>
	<key>Question 45</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>45. Khi không còn gia đình, trẻ em có quyền nhận được sự bảo vệ và giúp đỡ đặc biệt của Nhà nước. Đúng hay sai?</string>
		<string>Khoản 1, Điều 20 Công ước về QTE quy định: “Trẻ em khi tạm thời hay vĩnh viễn bị tước mất môi trường gia đình của mình, hoặc vì những lợi ích tốt nhất cho chính bản thân mình mà không thể được phép tiếp tục ở trong môi trường ấy, có quyền được hưởng sự bảo vệ và giúp đỡ đặc biệt của Nhà nước”.</string>
	</array>
	<key>Question 47</key>
	<array>
		<string>2</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>47. Mọi trẻ em đều có quyền được hưởng và bảo vệ quyền riêng tư của mình. Đúng hay sai?</string>
		<string>Khoản 1, Điều 16 Công ước về QTE quy định “Không trẻ em nào phải chịu sự can thiệp tuỳ tiện, hay bất hợp pháp vào việc riêng tư, gia đình, nhà cửa, hoặc thư tín của các em, cũng như những sự công kích bất hợp pháp vào danh dự và thanh danh của các em”.</string>
	</array>
	<key>Question 48</key>
	<array>
		<string>3</string>
		<string>Cùng xem thư với bạn B</string>
		<string>Báo cho bạn có thư biết định của bạn B</string>
		<string>Khuyên bạn B không nên xem thư của người khác</string>
		<string>Làm ngơ như không biết</string>
		<string>48. Bạn B lớp em định xem thư của một bạn khác trong lớp. Thấy vậy em
sẽ làm gì?</string>
		<string>Khoản 1, Điều 16 Công ước về QTE quy định: “Không một trẻ em nào phải chịu sự can thiệp tùy tiện hay bất hợp pháp vào việc riêng tư, gia đình, nhà cửa hoặc thư tín của em cũng như những sự công kích bất hợp pháp vào danh dự và thanh danh của các em”. Cho nên, em sẽ khuyên bạn B không nên xem thư của người khác.</string>
	</array>
	<key>Question 50</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>50.  Mỗi khi nhận thư hay gửi thư cho bạn bè ,trẻ em phải đưa cho bố mẹ đọc qua trước. Đúng hay sai?</string>
		<string>Khoản 1, Điều 16, Công ước về QTE quy định: “Không trẻ em nào phải chịu sự can thiệp tùy tiện hay bất hợp pháp vào việc riêng tư, gia đình, nhà cửa hoặc thư tín cũng như những sự công kích bất hợp pháp vào danh dự và thanh danh của các em”.</string>
	</array>
	<key>Question 51</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>51. Bạn Mai viết thư thăm hỏi bạn Hương, nhưng mẹ bạn Mai bảo Mai phải cho mẹ xem thư, nếu không thì mẹ sẽ cấm Mai viết thư cho Hương. ẹ bạn ai làm như vậy là đúng hay sai?</string>
		<string>Mẹ bạn Mai làm như vậy là sai, vì Khoản 1, Điều 16, Công ước về QTE quy định: “Không trẻ em nào phải chịu sự can thiệp tùy tiện hay bất hợp pháp vào việc riêng tư, gia đình, nhà cửa hoặc thư tín cũng như những sự công kích bất hợp pháp vào danh dự và thanh danh của các em”.</string>
	</array>
	<key>Question 52</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>52. Thu rất hay viết nhật ký. Một lần, Thu thấy mẹ đang xem nhật ký của mình. Việc làm của mẹ Thu là đúng hay sai?</string>
		<string>Việc làm của mẹ Thu là sai vì Khoản 1, Điều 16 Công ước về QTE quy định: “Không trẻ em nào phải chịu sự can thiệp tùy tiện hay bất hợp pháp vào việc riêng tư, gia đình, nhà cửa hoặc thư tín cũng như những sự công kích bất hợp pháp vào danh dự và thanh danh của các em”.</string>
	</array>
	<key>Question 53</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng</string>
		<string>Sai</string>
		<string></string>
		<string>53. Bạn Nam lấy điện thoại của bạn Lan để đọc tin nhắn. Lan không cho nhưng Nam vẫn giằng lấy để đọc. Bạn Nam làm như vậy là đúng hay sai?</string>
		<string>Việc làm của bạn Nam là sai, vì Khoản 1, Điều 16 Công ước về QTE quy định: “Không trẻ em nào phải chịu sự can thiệp tùy tiện hay bất hợp pháp vào việc riêng tư, gia đình, nhà cửa hoặc thư tín cũng như những sự công kích bất hợp pháp vào danh dự và thanh danh của các em”.</string>
	</array>
	<key>Question 54</key>
	<array>
		<string>3</string>
		<string></string>
		<string>Đúng.</string>
		<string>Sai.</string>
		<string></string>
		<string>54. Mỷ là học sinh dân tộc thiểu số. Trong lớp, Mỷ hay giao tiếp bằng tiếng dân tộc của mình với các bạn. Nhiều bạn trong lớp hay nhại lại Mỷ. Việc làm của các bạn như vậy đúng hay sai?</string>
		<string>Điều 30 Công ước về QTE quy định: “Ở những quốc gia có tồn tại các nhóm thiểu số về chủng tộc, tôn giáo hay ngôn ngữ hoặc có những người gốc bản địa, những trẻ em thuộc một nhóm thiểu số hoặc trẻ em bản địa sẽ không bị khước từ quyền được hưởng nền văn hóa của mình, được bày tỏ, thực hành tôn giáo của mình và sử dụng ngôn ngữ của mình khi sinh hoạt trong cộng đồng với các thành viên khác của nhóm”.</string>
	</array>
</dict>
</plist>
